.column{
  display: flex;
  flex-direction: column;
}
.row{
  display: flex;
  flex-direction: row;
}
.greyColor{
  color: grey;
}
.space-between{
  justify-content: space-between;
}
.profileImage{
  height:30px;
  width: 30px;
  border-radius: 50%;
  margin-right: 8px;
}
.singleRow{
  padding:10px;

}
.singleRow:hover{
  background-color: lightgrey;
}
.SearchBoxContent{

  width: 100%;
  box-shadow: 1px 1px 1px gray;

}